.products {
  height: 2253px;

  &_title {
    padding-top: 113px;
    padding-bottom: 47px;
  }  
}

.product-block {
  margin-bottom: 99px;

  &_image {
    margin: 0;
  }
  
  &_text {
    padding-top: 45px;
  }
}

@media screen and (max-width: 480px){
  .products {
    height: 1118px;

    &_title {
      padding-top: 81px;
      padding-bottom: 65px;
    }  
  }

  .product-block {
    margin-bottom: 78px;
    &_image {
      max-height: 176px;
    }

    &_text {
      padding-top: 33px;
    }
  }
}