.person {
  height: 188px;
  width: 100%; 
  display: flex;
  padding-bottom: 50px;
  align-items: flex-end;

  &_name {
    width: 240px;
  }

  &_position {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 165px
  }
}

.name {
  font-size: 47px;
  line-height: 58px;
}

@media screen and (max-width: 480px){
  .person {
    height: 275px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    &_name {
      margin-top: 65px;
    }

    &_position {
      margin: 0;
      margin-top: 23px;
      padding: 0px;
    }
  }
}
