.skills {
  height: 610px;

  &_title {
    padding-top: 80px;
  }

  &_text {
    margin-top: 35px;
  }

  &_content {
    margin-top: 83px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 480px){
  .skills {
    height: 1920px;
  }

  .skill-block {
    &_image {
      padding-top: 80px;
    }
  }
}

.skill-block {
  &_image {
    width: 89px;
    height: 89px;
    padding-bottom: 23px;
  }

  &_name {
    font-size: 14px;
    line-height: 17px;
  }

  &_stars {
    display: flex;
    margin-top: 41px;
  }
}


