.text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  font-weight: bold;
}

.image {
  width: 100%;
}

.page {
  font-family: sans-serif;
  color: #090909;

  &_block {
    max-width: 945px;
    margin: auto;

    &__gray {
      background: #F6F6F6;
    }
  }       
}

@media screen and (max-width: 480px){
  .page {
    &_block {
      max-width: 317px;

      &__gray {
        max-width: 100%;
      }
    }       
  }
}
