.text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.page {
  font-family: sans-serif;
  color: #090909;
}

.page_block {
  max-width: 945px;
  margin: auto;

  @media screen and (max-width: 480px){
    max-width: 317px;
    margin: auto;
  }
}