.text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  &__portfolio {
    text-decoration: underline;
  }

  &__gray {
    color: #828282;
    font-size: 14px;
    line-height: 17px;
  }

  &__rotate {
    transform: rotate(-90deg);
    font-size: 16px;
    line-height: 20px;
  }
}

span {
  color: #828282;
}

.title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  font-weight: bold;
}

.image {
  width: 100%;

  &__mobile {
    display: none;
  }
}

.btn {
  border-radius: 20px;
  background-color: black;
  color: white;
  height: 42px;
  width: 180px;
}

.page {
  font-family: Arimo;
  color: #070707;

  &_block {
    max-width: 945px;
    margin: auto;

    &__gray {
      background: #F6F6F6;
    }
  }       
}

@media screen and (max-width: 480px){
  .page {
    &_block {
      max-width: 317px;

      &__gray {
        max-width: 100%;
      }
    }       
  }

  .image {
    &__mobile {
      display: block;
    }

    &__desktop {
      display: none;
    }
  }
}
